@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #00A4E4;
    --color-secondary: #008ED4;
    --color-cancel: #706D6D;

    --color-primary-50: #EFF9FF;
    --color-primary-100: #DEF3FF;
    --color-primary-200: #B6E9FF;
    --color-primary-300: #75DAFF;
    --color-primary-400: #2CC8FF;
    --color-primary-500: #00A4E4;
    --color-primary-600: #008ED4;
    --color-primary-700: #0071AB;
    --color-primary-800: #005F8D;
    --color-primary-900: #064F74;
    --color-primary-950: #04324D;

    --color-text: #1A1A1A;
    --color-background: #FFFFFF;
    --color-disabled: #E0E0E0;
}